/* When element enters dom */
.fade-enter {
  opacity: 0;
}
/* After element enters [transition time] */
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
/* When state turns false */
.fade-exit {
  opacity: 1;
}
/* Right after exit [transition time] */
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* Lists */
div.list {
  margin-bottom: 3em;
}

/* Alerts */
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}